body {
    background-color: rgb(10, 10, 40);
}

.o-page {
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.container1 {
    height: 160px;
    width: 468px;
    background-color: rgb(207, 34, 60);
    border-radius: 6px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: end;
    gap: 20px;
}

.container2 {
    height: 160px;
    width: 468px;
    background-color: rgb(207, 34, 60);
    border-radius: 6px;
    padding: 20px;
    margin: 10px; 
    display: flex;
    justify-content: center;
    gap: 20px;
}

.container3 {
    height: 160px;
    width: 468px;
    background-color: rgb(207, 34, 60);
    border-radius: 6px;
    padding: 20px;
    margin: 10px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    align-content: center;
    gap: 20px;
}

.container4 {
    height: 160px;
    width: 468px;
    background-color: rgb(207, 34, 60);
    border-radius: 6px;
    padding: 20px;
    margin: 10px; 
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.container5 {
    height: 160px;
    width: 468px;
    background-color: rgb(207, 34, 60);
    border-radius: 6px;
    padding: 20px;
    margin: 10px; 
    display: flex;
    justify-content: space-around;
    align-content: center;
    gap: 20px;
}

.container6 {
    height: 160px;
    width: 468px;
    background-color: rgb(207, 34, 60);
    border-radius: 6px;
    padding: 20px;
    margin: 10px; 
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 20px;
}

.o-container__card {
    min-height: 64px;
    min-width: 78px;
    background-color: rgb(9, 9, 89);
    border: none;
    border-radius: 6px;
}

.o-cont1__card {
    height: 78px;
}

.o-cont3__card {
    height: 78px;
}

.o-cont4__cardup {
    height: 78px;
    display: flex;
    align-self: flex-start;
}

.o-cont4__carddown {
    height: 78px;
    display: flex;
    align-self: flex-end;
}

.o-cont5__cardstretch {
    display: flex;
    justify-content: center;
    align-self: center;
}

.o-cont5__cardsqueeze {
    display: flex;
    justify-content: center;
    align-self: center;
}

.o-cont6__card {
    height: 78px;
    display: flex;
    justify-self: flex-start;
}

.o-cont6__cardstretch {
    height: 78px;
    display: flex;
    flex-grow: 0.5;
}

.o-cardstretch__text {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.o-cardsqueeze__text {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}